@import url('https://fonts.googleapis.com/css?family=Special Elite');
@import url('https://fonts.googleapis.com/css?family=Homemade Apple');

html {
  width: 100%;
  height: 100%;
}

body {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("images/background.jpg");
  background-position: 50% 50%;
}

img {
  height: 100px;
  border-radius: 50%;
}

button {
  size: 10px;
  margin: 0 5px;
  box-shadow:inset 0px 1px 0px 0px #f7c5c0;
	background:linear-gradient(to bottom, #fc8d83 5%, #e4685d 100%);
	background-color:#fc8d83;
	border-radius:6px;
	border:1px solid #d83526;
	cursor:pointer;
	color:#ffffff;
	font-size:15px;
	padding:6px 24px;
	text-shadow:0px 1px 0px #b23e35;
}
button:hover {
  background:linear-gradient(to bottom, #e4685d 5%, #fc8d83 100%);
	background-color:#e4685d;
}

p {
  font-size: 1.5rem;
  color: black;
  font-family: 'Special Elite';
}

h3 {
  font-size: 2rem;
  color: black;
  font-family: 'Homemade Apple';
  line-height: 0.2;
}

.container {
  display: flex;
  height: 100vh;
  margin: auto;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.people {
  display: flex;
  flex-direction: row;
  padding: 25px 0;
}

.personQuote {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 900px;
  text-align: center;
  min-height: 400px;
  padding: 0 25px;
  border-radius: 10px;
  background-color: #F4EDEA;
  box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.9); 
}

@media(max-width:1280px){
  .container{width: 95%;}
}

@media(max-width:900px){
  .inner-quotes-container{width: 100%;}
}

@media(max-width:480px){
  .inner-quotes-container p{font-size: 1.2rem;}
  .inner-quotes-container h3{font-size: 1.5rem;}
}